body {
  background: #666;
  color: #000;
  font-size: 20px;
  font-family: "Turret Road", cursive;
}

.container {
  text-align: center;
}

.btn {
  color: red;
  font-weight: bold;
  background-color: #111;
  border-radius: 10px;
  margin-bottom: 100px;
}

.button-section {
  display: flex;
  justify-content: center;
}

.weapon {
  width: 300px;
  height: auto;
}

.result {
  color: red;
}
